@import "../../var";
.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  @media only screen and (max-width: $bp-md) {
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }
  & .paragraph {
    font-size: 2rem;
    margin-bottom: 3rem;
    @media only screen and (max-width: $bp-md) {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 2rem;
    }
  }
  & .box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    .button-message {
      position: absolute;
      color: red;
      text-align: center;
      width: 100%;
      bottom: -6rem;
    }
  }
  & .label {
  }
  & .input {
    margin-bottom: 1rem;
    background: $color4;
    border: 2px solid transparent;
  }
  & .button {
    margin-top: 3rem;
    background: $color2;
    color: $color1;
    border: 2px solid transparent;
    &:active {
      transform: translateY(1px);
    }
  }
  & .sign {
    height: 3rem;
  }
  & .error {
    background: rgb(255, 233, 233);
    border: 2px solid red;
    border-radius: 5px;
  }
}
