@import "../../var";

.title {
  color: $color1;
  font-family: "Bebas Neue", cursive;
}

.frontpage {
  margin-top: 20%;
  line-height: 6rem;
  font-size: 8rem;
  @media only screen and (max-width: $bp-sm) {
    font-size: 5rem;
  }
}

.subpage {
  font-size: 13rem;
  line-height: 10rem;
  margin-top: 10%;
  @media only screen and (max-width: $bp-md) {
    font-size: 10rem;
    line-height: 8rem;
  }
  @media only screen and (max-width: $bp-sm) {
    font-size: 5rem;
    line-height: 6rem;
  }
}
