@import "../../var";

.carousel {
}
.carousel .slide {
}
.carousel-indicators {
  right: auto;
  margin-left: 5%;
}
.carousel-indicators .active {
  background-color: $color6;
}
.carousel-indicators li {
  width: 2.5rem;
  height: 0.5rem;
}
.slider-image {
  height: 100vh;
}
