@import "../../var";

.carousel {
}
.carousel .slide {
}
.carousel-indicators {
  margin-left: 5% !important;
  right: auto !important;
}
.carousel-indicators .active {
  background-color: $color6;
}
.carousel-indicators li {
}
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-box {
  width: 100%;
  height: 100vh;
  @media only screen and (max-width: $bp-sm) {
    width: auto;
    height: 40rem;
  }
}
